@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=IBM+Plex+Mono:wght@500&family=Roboto:wght@500&family=Russo+One&display=swap');

body{
    background-color: #F1F1F1;
}

.niz{
    background-color: #121723;
    width: 100%;
    height: 142px;
    margin-top: 25px;
}

.totalniz h1{
    color: var(--text_gray, #A1A6B4);
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0px 0% 0px;
    text-align: center;
}

.nizlogo{
    color: var(--white, #FFF);
    font-family: Russo One;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%;
    letter-spacing: -1.55px;
    margin: -20px 0px 0px 80px;
}

.nizseti{
    margin: 34px 0px 0px 1021px;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nizseti a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.h{
    padding: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #E6E8EC66;
    margin: 20px 80px 0px 80px;
}

.fonlogo{
    width: 100%;
    height: 110px;
    background: var(--white, #FFF);
}

.logo{
    color:rgba(18, 23, 35, 1);
    font-family: 'Russo One';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%;
    letter-spacing: -2.1px;
    margin: -80px 0px 0px 140px;
}

.hr{
    margin-top: 15px;
	padding: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #A1A6B4;
}

.seti{
    margin: 50px 0px 0px 1021px;
    display: inline-flex;
    align-items: center;
    gap: 24px;
    color: #000;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.seti a{
    text-decoration: none;
    color: black;
}

.banner{
    background: url(фон2.jpg);
    width: 100%;
    height: 384px;
    margin-top: -20px;
}

.banner h1{
    color: #000;
    text-align: center;
    font-family: 'Anonymous Pro';
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 115px;
}

.banner h2{
    color: #000;
    text-align: center;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.banner img{
    width: 420px;
    height: 380px;
    flex-shrink: 0;
    margin: -317px 0px 0px 1010px;
}

.banner2{
    background-color: #FFF;
    width: 100%;
    height: 384px;
    margin-top: -20px;
}

.banner2info{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 79px;
    margin-left: 80px;
}

.banner2info2 h1{
    color: var(--light_black, #292E39);
    font-family: Anonymous Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    width: 767px;
}

.banner2info2 h2{
    color: var(--light_black, #292E39);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
}
.banner2info h3{
    display: flex;
    padding: 25px 54px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--black, #121723);
    background: var(--white, #FFF);
}

.banner2 img{
    width: 800px;
    height: 385px;
    flex-shrink: 0;
    margin: -51px 20px -370px 620px;
}

.tovar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-left: 80px;
}

.tovar h1{
    color: var(--black, #121723);
    font-family: 'IBM Plex Mono';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.line, .line2, .line3{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.popular img{
    border-radius: 12px;
}

.popular1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 0px solid var(--text_gray, #A1A6B4);
    width: 371px;
    padding: 32px 24px;
    gap: 10px;
    background: var(--white, #FFF);
}

.popular2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 0px solid var(--text_gray, #A1A6B4);
    width: 371px;
    padding: 32px 24px;
    gap: 10px;
    background: var(--white, #FFF);
}

.popular3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 0px solid var(--text_gray, #A1A6B4);
    width: 371px;
    padding: 32px 24px;
    gap: 10px;
    background: var(--white, #FFF);
}

.popular1 h1{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
}

.popular1 h2{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
}

.popular2 h1{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
}

.popular2 h2{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    background: var(--white, #FFF);
    }

.popular3 h1{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.popular3 h2{
    color: var(--black, #121723);
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 12px;
    background: var(--white, #FFF);
    }

.photologo img{
    width: 500px;
    height: 500px;
    margin-left: 450px;
}
.photologo2 img{
    width: 600px;
    height: 500px;
    margin-left: 450px;
}

.photologo3 img{
    width: 650px;
    height: 400px;
    margin-left: 400px;
}